<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Moca.GridDesignSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.8.0" newVersion="2.0.8.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Moca" publicKeyToken="42f7e4f7232a6bf5" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.6.0" newVersion="2.0.6.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <Moca.GridDesignSettings>
      <setting name="StyleNames" serializeAs="String">
        <value>Normal,Alternate,Fixed,Highlight,Focus,Editor,Frozen,NewRow,SelectedColumnHeader,SelectedRowHeader,FilterEditor,Error,Disable,ReadOnly,Required,NoEdit,NegativeValue,Closed,Modify,SortColumnHeaderHover
</value>
      </setting>
      <setting name="ErrorBackColor" serializeAs="String">
        <value>242, 222, 222</value>
      </setting>
      <setting name="ErrorForeColor" serializeAs="String">
        <value>185, 74, 72</value>
      </setting>
      <setting name="RequiredBackColor" serializeAs="String">
        <value>Info</value>
      </setting>
      <setting name="RequiredForeColor" serializeAs="String">
        <value>33, 33, 33</value>
      </setting>
      <setting name="NormalFont" serializeAs="String">
        <value>Meiryo UI, 9pt</value>
      </setting>
      <setting name="ReadOnlyBackColor" serializeAs="String">
        <value>239, 239, 239</value>
      </setting>
      <setting name="ReadOnlyForeColor" serializeAs="String">
        <value>33, 33, 33</value>
      </setting>
      <setting name="DisableBackColor" serializeAs="String">
        <value>Gainsboro</value>
      </setting>
      <setting name="DisableForeColor" serializeAs="String">
        <value>DarkGray</value>
      </setting>
      <setting name="FrozenBackColor" serializeAs="String">
        <value>251, 251, 243</value>
      </setting>
      <setting name="NoEditForeColor" serializeAs="String">
        <value>LightSlateGray</value>
      </setting>
      <setting name="ReadOnlyBorderColor" serializeAs="String">
        <value>250, 250, 250</value>
      </setting>
      <setting name="NegativeValueFormat" serializeAs="String">
        <value>[赤]</value>
      </setting>
      <setting name="NegativeValueForeColor" serializeAs="String">
        <value>178, 24, 43</value>
      </setting>
      <setting name="ClosedBackColor" serializeAs="String">
        <value>239, 239, 239</value>
      </setting>
      <setting name="ClosedBorderColor" serializeAs="String">
        <value>250, 250, 250</value>
      </setting>
      <setting name="ClosedForeColor" serializeAs="String">
        <value>LightSlateGray</value>
      </setting>
      <setting name="NormalForeColor" serializeAs="String">
        <value>33, 33, 33</value>
      </setting>
      <setting name="NormalBackColor" serializeAs="String">
        <value>White</value>
      </setting>
      <setting name="ModifyFont" serializeAs="String">
        <value>Meiryo UI, 9pt, style=Bold</value>
      </setting>
      <setting name="ModifyToolTipText" serializeAs="String">
        <value>この行は変更されています</value>
      </setting>
      <setting name="SortColumnHeaderHoverBackColor" serializeAs="String">
        <value>187, 235, 254</value>
      </setting>
    </Moca.GridDesignSettings>
  </applicationSettings>
</configuration>